@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  background-color: #F8F9FA;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  width: 294px;
  height: 739px;
  background-color: #F8F8F8;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.2px;
  padding-bottom: 8px;
  color: #0F172A;
}

.heading-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #0F172A;
}

.count {
  background-color: #fbfffd;
  border: 1.5px solid #27A376;
  color: #27A376;
  font-size: 12px;
  font-weight: 600;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  gap: 10px;
}

.plus-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #030303;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.plus-icon:hover {
  background-color: #27A376;
  color: #fff;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

@media (min-width: 600px) {
  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: visible;
  }
}